<div class="page" id="error_404Exception" data-pageTitle="404异常">
    
    <header class="header">
        <div class="header_title">
            <a href="javascript:void(0);" class="icon_back" id="back"></a>
            <h3>加载失败</h3>
        </div>
    </header>
    
    <section class="main fixed" data-page="home">
        
        <article class="content white">
            <div class="loading_main">
                <div class="pic"><img src="images/404_img.png"></div>
                <p>云仔找不到这个页面了...</p>
            </div>
        </article>
        
    </section>
    
</div>