<div class="page" id="error_networkException" data-pageTitle="网络异常">
 
<header class="header">
 <div class="header_title">
        <a href="javascript:void(0);" class="icon_back" id="back"></a>
        <h3>加载失败</h3>
 </div>
</header>
    
<section class="main fixed" data-page="home">

	<article class="content white">
		<div class="loading_main">
        	<div class="pic"><img src="images/no_wifi.png"></div>
            <p>网络异常...</p>
            <div class="btn" id="refreash"><a href="javascript:void(0);">重新加载</a></div>
        </div>
	</article>
    
</section>

</div>