<div class="page" id="error_authenFailure" data-pageTitle="密钥认证失败">
    
    <header class="header">
        <div class="header_title">
            <a href="javascript:void(0);" class="icon_back" id="back"></a>
            <h3>认证失败</h3>
        </div>
    </header>
    
    <section class="main fixed" data-page="home">
        <article class="content white">
            <div class="loading_main">
                <div class="pic"><img src="images/result_ic02.png"></div>
                <p>抱歉，您的密钥认证失败...</p>
            </div>
        </article>
    </section>
</div>